.filter {
   padding: 20px 0 10px;
   @include block-bg;
   align-self: start;
}


.filter__title {
   margin-bottom: 10px;
   padding-left: 10px;
   text-transform: uppercase;

   @media (min-width: 767px) {
      padding-left: 20px;
   }
}

.filter__list {
   padding: 0 10px;
   display: flex;
   flex-wrap: wrap;
   gap: 5px;

   @media (min-width: 767px) {
      padding: 0;
      flex-flow: column wrap;
      gap: 0;
   }

}

.filter__item {
   width: 45%;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;

   @media (min-width: 520px) {
      width: 30%;
   }


   @media (min-width: 767px) {
      width: 100%;
      font-size: 13px;
      line-height: 20px;
   }
}

.checkbox {
   position: relative;
}


.checkbox__input {
   appearance: none;
   position: absolute;

   &:focus-visible+.checkbox__label {
      border-color: red;
      transition: 0.3s;
   }
}

.checkbox__label:hover {

   background-color: #fff999;

   .checkbox__icon {
      border-color: $blue-color;
   }
}

.checkbox__label {
   display: inline-block;
   cursor: url('../img/hand.svg'), auto;
   width: 100%;
   padding-left: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   transition: .3s;

   @media (min-width: 767px) {
      padding-left: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
   }
}

.checkbox__input:checked+.checkbox__label {
   .checkbox__icon {
      border-color: $blue-color;

      &::after {
         opacity: 1;
      }
   }
}

.checkbox__icon {
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   width: 19px;
   height: 19px;
   border: 1px solid #9ABBCE;
   border-radius: 2px;
   transition: .5s;

   @media (min-width: 767px) {
      left: 20px;
   }

   &::after {
      position: absolute;
      content: "";
      top: 5px;
      left: 20%;
      width: 10px;
      height: 5px;
      border-left: 2px solid $blue-color;
      border-bottom: 2px solid $blue-color;
      transform: rotate(-45deg);
      z-index: 2;
      opacity: 0;
      transition: .5s;

   }
}