@import "variables.scss";
@import "null.scss";
@import "fonts.scss";
@import "bem-blocks.scss";
@import "filter.scss";
@import "tickets.scss";








.main__container {
   display: grid;
   row-gap: 20px;

   @media (min-width: 767px) {
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
   }

}



.header__container {
   padding: 10px 0;

   @media (min-width: 767px) {
      padding: 35px 0;
   }

}

.logo__img {
   display: block;
   margin: 0 auto;
}